# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out*
**/*.app

**/*.vscode

tester_mli/deepthought

tester_mazoise/*/diff
tester_mazoise/*/leak
tester_mazoise/*/logs
tester_mazoise/*/out
tester_mazoise/*/stderror

tester_llefranc/*.txt
